.header {
  display: grid;
  grid-template-columns: 458px 329px 266px;
  justify-content: space-between;
  align-items: center;
  padding: 92px 24px 92px;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
}

.header__links-list {
  left: 26.52px;
  display: flex;
  gap: 31px;
  padding-left: 26px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  line-height: 21.13px;
  letter-spacing: 0.01em;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__logo {
  display: block;
  width: 137px;
}

.address {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0.01em;
  text-align: left;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  white-space: nowrap;
}

.thin_underline {
  text-decoration-thickness: 0.5px;
}

.street__adress {
  letter-spacing: 0;
}

.cover {
  position: relative;
  z-index: 0;
  color: #ffffff;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 165px 50px 127px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
}

.aligned-text {
  letter-spacing: 0.3em;
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  margin-right: -29px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 51px 78px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  min-width: 256px;
  min-height: 51px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  padding: 179px 24px 146px;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 25px;
  max-width: 1100px;
  color: #ffffff;
}

.card-link {
  width: 100%;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 334px;
  min-height: 563px;
  padding: 51px 40px 47px;
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.background__photo-position {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-size: cover;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  padding: 30px 820px 2px 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-align: left;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 4px;
}

.about {
  padding: 0 24px 180px 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 690px;
  gap: 25px;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin-top: 32px;
  border-radius: 100%;
  background-color: black;
}

.about__logo-image {
  display: block;
  width: 148px;
}

.about__info {
  margin-top: 136px;
}

.about__title {
  margin-bottom: 99px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.paragraf__about-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  word-spacing: 0.5px;
}
.word-spacing_about-text {
  word-spacing: 0;
}

.footer {
  display: grid;
  grid-template-columns: 241px 519px 240px;
  padding: 0 50px 88px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-decoration-thickness: 0.8px;
  text-underline-offset: 4.5px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  display: block;
  width: 48px;
}